<!-- ENSEIGNEMENT -->
<!-- En-tête enseignement -->
<div class="container pt-3 shadow-lg p-3 mb-5 bg-white rounded">
  <div class="container pb-3">
    <div class="card shadow">
      <div class="card-header bg-info text-white font-weight-bold p-3">
        <div class="row justify-content-center">
          <img src="/assets/award-fill.svg" class="align-self-center mr-3" width="32" height="32"><!-- Symbole -->
          <h2 class="mr-3">- Enseignement -</h2>
          <img src="/assets/award-fill.svg" class="align-self-center mr-3" width="32" height="32"><!-- Symbole -->
        </div>
      </div>
    </div>
  </div>

<!-- Schéma à reproduire selon le nombre de cursus suivis. -->
<!-- Cursus 1 à remplir. -->
  <div class="container pb-3"  id="myTransform">
    <div class="card shadow">
      <div class="card-header font-weight-bold">
        <h4>Cursus 1</h4> <!-- Premier cursus d'enseignement -->
      </div>
      <div class="card-body">
        <ul class="ml-5">
          <li class="pb-2"><h6>Date - Cours 1</h6></li> <!-- Premier cours -->
          <ul class="ml-4">
            <li class="pb-2">Détail 1</li> <!-- Supprimer un détail si besoin -->
            <li class="pb-2">Detail 2</li>
            <li class="pb-2">Detail 3</li>
          </ul>
          <li class="pb-2"><h6>Cours 2</h6></li> <!-- Deuxième cours -->
            <ul class="ml-4">
              <li class="pb-2">Détail 1</li> <!-- Supprimer un détail si besoin -->
              <li class="pb-2">Detail 2</li>
              <li class="pb-2">Detail 3</li>
            </ul>
        </ul>
      </div>
    </div>
  </div>

<!-- Cursus 2 à remplir ou à supprimer si besoin -->
  <div class="container pb-3" id="myTransform">
    <div class="card shadow">
      <div class="card-header font-weight-bold">
        <h4>Date - Cursus 2</h4> <!-- Deuxième cursus d'enseignement -->
      </div>
      <div class="card-body">
        <ul class="ml-5">
          <li class="pb-2"><h6>Cours 1</h6></li> <!-- Premier cours -->
            <ul class="ml-4">
              <li class="pb-2">Détail 1</li> <!-- Supprimer un détail si besoin -->
              <li class="pb-2">Detail 2</li>
              <li class="pb-2">Detail 3</li>
            </ul>
          <li class="pb-2"><h6>Cours 2</h6></li> <!-- Deuxième cours -->
            <ul class="ml-4">
              <li class="pb-2">Détail 1</li> <!-- Supprimer un détail si besoin -->
              <li class="pb-2">Detail 2</li>
              <li class="pb-2">Detail 3</li>
            </ul>
        </ul>
      </div>
    </div>
  </div>

<!-- Cursus 3 à remplir ou à supprimer si besoin -->
  <div class="container pb-3"  id="myTransform">
    <div class="card shadow">
      <div class="card-header font-weight-bold">
        <h4>Cursus 3</h4> <!-- Troisième cursus d'enseignement -->
      </div>
      <div class="card-body">
        <ul class="ml-5">
          <li class="pb-2"><h6>Date - Cours 1</h6></li> <!-- Premier cours -->
          <ul class="ml-4">
            <li class="pb-2">Détail 1</li> <!-- Supprimer un détail si besoin -->
            <li class="pb-2">Detail 2</li>
            <li class="pb-2">Detail 3</li>
          </ul>
          <li class="pb-2"><h6>Cours 2</h6></li> <!-- Deuxième cours -->
            <ul class="ml-4">
              <li class="pb-2">Détail 1</li> <!-- Supprimer un détail si besoin -->
              <li class="pb-2">Detail 2</li>
              <li class="pb-2">Detail 3</li>
            </ul>
        </ul>
      </div>
    </div>
  </div>

<!-- EXPERIENCE PROFESSIONNELLE -->
<!-- En-tête experience professionnelle -->
<div class="container pt-3 shadow-lg p-3 mb-5 bg-white rounded">
  <div class="container py-3">
    <div class="card shadow">
      <div class="card-header bg-info text-white font-weight-bold p-3">
        <div class="row justify-content-center">
          <img src="/assets/briefcase-fill.svg" class="align-self-center mr-3" width="32" height="32"> <!-- Symbole -->
          <h2 class="mr-3">- Expérience professionnelle -</h2>
          <img src="/assets/briefcase-fill.svg" class="align-self-center" width="32" height="32"> <!-- Symbole -->
        </div>
      </div>
    </div>
  </div>

<!-- Experience professionnelle 1 à remplir. -->
  <div class="container pb-3" id="myTransform">
    <div class="card shadow">
      <div class="card-header font-weight-bold">
        <h4>Date - Experience 1</h4> <!-- Premier experience -->
      </div>
      <div class="card-body">
        <ul class="ml-5">
          <li class="pb-2"><h6>Poste 1</h6></li> <!-- Premier poste -->
          <ul>
            <li>Detail 1</li> <!-- Supprimer un détail si besoin -->
            <li>Detail 2</li>
            <li>Detail 3</li>
          </ul>
          <li class="pb-2"><h6>Poste 2</h6></li> <!-- Deuxième poste -->
          <ul>
            <li>Detail 1</li> <!-- Supprimer un détail si besoin -->
            <li>Detail 2</li>
            <li>Detail 3</li>
          </ul>
        </ul>
      </div>
    </div>
  </div>

<!-- Experience professionnelle 2 à remplir. -->
  <div class="container pb-3" id="myTransform">
    <div class="card shadow">
      <div class="card-header font-weight-bold">
        <h4>Date – Experience 2</h4> <!-- Deuxième experience -->
      </div>
      <div class="card-body">
        <ul class="ml-5">
          <li class="pb-2"><h6>Poste 1</h6></li>
          <ul>
            <li>Detail 1</li> <!-- Supprimer un détail si besoin -->
            <li>Detail 2</li>
            <li>Detail 3</li>
          </ul>
          <li class="pb-2"><h6>Poste 2</h6></li>
          <ul>
            <li>Detail 1</li> <!-- Supprimer un détail si besoin -->
            <li>Detail 2</li>
            <li>Detail 3</li>
          </ul>
        </ul>
      </div>
    </div>
  </div>

<!-- Experience professionnelle 3 à remplir ou à supprimer si besoin. -->
  <div class="container pb-3" id="myTransform">
    <div class="card shadow">
      <div class="card-header font-weight-bold">
        <h4>Date – Experience 3</h4> <!-- Troisième experience -->
      </div>
      <div class="card-body">
        <ul class="ml-5">
          <li class="pb-2"><h6>Poste 1</h6></li> <!-- Premier poste occupé -->
          <ul>
            <li>Detail 1</li> <!-- Supprimer un détail si besoin -->
            <li>Detail 2</li>
            <li>Detail 3</li>
          </ul>
          <li class="pb-2"><h6>Poste 2</h6></li> <!-- Deuxième poste occupé -->
          <ul>
            <li>Detail 1</li> <!-- Supprimer un détail si besoin -->
            <li>Detail 2</li>
            <li>Detail 3</li>
          </ul>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- COMPETENCES -->
<!-- En-tête compétences -->
<div class="container pt-3 shadow p-3 mb-5 bg-white rounded">
  <div class="container py-3">
    <div class="card shadow">
      <div class="card-header bg-info text-white font-weight-bold p-3">
        <div class="row justify-content-center">
          <img src="/assets/palette-fill.svg" class="align-self-center mr-3" width="32" height="32">
          <h2 class="mr-3">- Compétences -</h2>
          <img src="/assets/palette-fill.svg" class="align-self-center" width="32" height="32">
        </div>
      </div>
    </div>
  </div>

  <div class="container pb-3" id="myTransform">
    <div class="card shadow">
      <div class="card-header font-weight-bold">
        <h4>Compétence 1</h4> <!-- Compétence 1 -->
      </div>
      <div class="card-body">
        <ul class="ml-5">
          <li class="pb-2"><h6>Detail 1</h6></li> <!-- Supprimer un détail si besoin -->
          <li class="pb-2"><h6>Detail 2</h6></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container pb-3" id="myTransform">
    <div class="card shadow">
      <div class="card-header font-weight-bold">
        <h4>Compétence 2</h4> <!-- Compétence 2 -->
      </div>
      <div class="card-body">
        <ul class="ml-5">
          <li class="pb-2"><h6>Detail 1</h6></li> <!-- Supprimer un détail si besoin -->
          <li class="pb-2"><h6>Detail 2</h6></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container pb-3" id="myTransform">
    <div class="card shadow">
      <div class="card-header font-weight-bold">
        <h4>Compétence 3</h4> <!-- Compétence 3 à supprimer si besoin -->
      </div>
      <div class="card-body">
        <ul class="ml-5">
          <li class="pb-2"><h6>Detail 1</h6></li> <!-- Supprimer un détail si besoin -->
          <li class="pb-2"><h6>Detail 2</h6></li>
        </ul>
      </div>
    </div>
  </div>
</div>
