<!-- CONTACT -->
<!-- En-tête contact -->
<div class="container pt-3 shadow-lg p-3 mb-5 bg-white rounded">
  <div class="container pb-3" id="myTransform">
    <div class="card shadow">
      <div class="card-header font-weight-bold">
        <h4>Me Contacter</h4>
      </div>
      <div class="card-body">
        <div class="row ml-5">
          <div class="col ml-5">
              <h6 class="pb-3">Téléphone : <u>06.00.00.00.00</u></h6> <!-- Numéro à remplir -->
              <h6>E-mail : <u>mon.email@whatever.com</u></h6> <!-- E-mail à remplir -->
          </div>
          <div class="col ml-5">
            <h5><img src="/assets/linkedin.svg" class="mr-2" width="20" height="20"> <!-- Logo Linkedin -->
              <a href="https://linkedin.com/in/monprofil" target="_blank" class="badge"> <!-- Mettre l'adresse de votre profil Linkedin -->
                Linkedin</a></h5>
            <h5><img src="/assets/github.svg" class="mr-2" width="20" height="20"> <!-- Logo GitHub -->
              <a href="https://github.com/AimeMalcorps" target="_blank" class="badge"> <!-- Mettre l'adresse de votre profil GitHub -->
                GitHub</a></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
