<section class="jumbotron text-center shadow-lg p-3 mb-5 rounded">
  <div class="container">
    <img class="img-fluid pb-3" width="150" src="./assets/img.png">
    <h1 class="jumbotron-heading">Nom Prénom</h1>
    <p class="lead text-muted">Description personelle, présentation du projet et des objectifs.</p>
  </div>
  <div class="btn-toolbar-center pt-2" role="toolbar">
    <div class="btn">
      <button type ="button"
              class="btn btn-outline-info my-2 shadow rounded"
              routerLinkActive="active" routerLink="parcours">Parcours</button>
    </div>
    <div class="btn">
      <button type="button"
              class="btn btn-outline-info my-2 shadow rounded"
              routerLinkActive="active" routerLink="certifications">Réalisations</button>
    </div>
    <div class="btn">
    <button type="button"
            class="btn btn-outline-info my-2 shadow rounded"
            routerLinkActive="active" routerLink="contact">Contact</button>
    </div>
  </div>
</section>


<router-outlet></router-outlet>

<div class="toolbar text-center bg-dark p-1" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span class="text-white font-weight-bold">CV en ligne développé sous Angular</span>
</div>
